<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="edu.uci.isr.xarchlibs.schema" name="edu.uci.isr.xarchlibs.schema" schema="schema/edu.uci.isr.xarchlibs.schema.exsd"/>
   <extension
         point="edu.uci.isr.xarchlibs.schema">
			<schema
			 name="activitydiagrams"
			 schemaLocalCopy="res/schema/activitydiagrams.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/activitydiagrams.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/activitydiagrams.xsd"></schema>
			<schema
			 name="analysis"
			 schemaLocalCopy="res/schema/analysis.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/analysis.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/analysis.xsd"></schema>
			<schema
			 name="boolguard"
			 schemaLocalCopy="res/schema/boolguard.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/boolguard.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/boolguard.xsd"></schema>
			<schema
			 name="changesets"
			 schemaLocalCopy="res/schema/changesets.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/changesets.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/changesets.xsd"></schema>
			<schema
			 name="diff"
			 schemaLocalCopy="res/schema/diff.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/diff.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/diff.xsd"></schema>
			<schema
			 name="hints"
			 schemaLocalCopy="res/schema/hints.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/hints.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/hints.xsd"></schema>
			<schema
			 name="hints2"
			 schemaLocalCopy="res/schema/hints2.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/hints2.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/hints2.xsd"></schema>
			<schema
			 name="hints3"
			 schemaLocalCopy="res/schema/hints3.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/hints3.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/hints3.xsd"></schema>
			<schema
			 name="implementation"
			 schemaLocalCopy="res/schema/implementation.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/implementation.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/implementation.xsd"></schema>
			<schema
			 name="instance"
			 schemaLocalCopy="res/schema/core/instance.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/instance.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/core/instance.xsd"></schema>
			<schema
			 name="javaimplementation"
			 schemaLocalCopy="res/schema/javaimplementation.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/javaimplementation.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/javaimplementation.xsd"></schema>
			<schema
			 name="javainitparams"
			 schemaLocalCopy="res/schema/javainitparams.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/javainitparams.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/javainitparams.xsd"></schema>
			<schema
			 name="javasourcecode"
			 schemaLocalCopy="res/schema/javasourcecode.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/javasourcecode.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/javasourcecode.xsd"></schema>
			<schema
			 name="lookupimplementation"
			 schemaLocalCopy="res/schema/lookupimplementation.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/lookupimplementation.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/lookupimplementation.xsd"></schema>
			<schema
			 name="menage"
			 schemaLocalCopy="res/schema/menage.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/menage.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/menage.xsd"></schema>
			<schema
			 name="messages"
			 schemaLocalCopy="res/schema/messages.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/messages.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/messages.xsd"></schema>
			<schema
			 name="options"
			 schemaLocalCopy="res/schema/options.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/options.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/options.xsd"></schema>
			<schema
			 name="pladiff"
			 schemaLocalCopy="res/schema/pladiff.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/pladiff.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/pladiff.txt"></schema>
			<schema
			 name="rationale"
			 schemaLocalCopy="res/schema/rationale.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/rationale.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/rationale.xsd"></schema>
   <schema
         name="security"
         schemaLocalCopy="res/schema/security.xsd"
         schemaURI="http://www.ics.uci.edu/pub/arch/xArch/security.xsd"
         schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/security.xsd">
   </schema>
			<schema
			 name="sourcecodeeclipse"
			 schemaLocalCopy="res/schema/sourcecodeeclipse.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/sourcecodeeclipse.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/sourcecodeeclipse.xsd"></schema>
			<schema
			 name="statecharts"
			 schemaLocalCopy="res/schema/statecharts.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/statecharts.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/statecharts.xsd"></schema>
			<schema
			 name="tronanalysis"
			 schemaLocalCopy="res/schema/tronanalysis.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/tronanalysis.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/tronanalysis.xsd"></schema>
			<schema
			 name="types"
			 schemaLocalCopy="res/schema/types.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/types.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/types.xsd"></schema>
			<schema
			 name="uml212superstructure"
			 schemaLocalCopy="res/schema/uml212superstructure.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/uml212superstructure.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/uml212superstructure.xsd"></schema>
   <schema
         name="xacml"
         schemaLocalCopy="res/schema/3rd/access_control-xacml-2.0-policy-schema-os.xsd"
         schemaURI="urn:oasis:names:tc:xacml:2.0:policy:schema:os"
         schemaURL="http://docs.oasis-open.org/xacml/2.0/access_control-xacml-2.0-policy-schema-os.xsd">
   </schema>
			<schema
			 name="usecases"
			 schemaLocalCopy="res/schema/usecases.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/usecases.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/usecases.xsd"></schema>
			<schema
			 name="variants"
			 schemaLocalCopy="res/schema/variants.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/variants.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/variants.xsd"></schema>
			<schema
			 name="versions"
			 schemaLocalCopy="res/schema/versions.xsd"
			 schemaURI="http://www.ics.uci.edu/pub/arch/xArch/versions.xsd"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/ext/versions.xsd"></schema>
			<schema
			 name="xlink"
			 schemaLocalCopy="res/schema/core/xlink.xsd"
			 schemaURI="http://www.w3.org/1999/xlink"
			 schemaURL="http://www.isr.uci.edu/projects/xarchuci/core/xlink.xsd"></schema>
   </extension>

</plugin>
