<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.eclipse.jet.jet2Transformation">
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jet.id" value="org.eclipse.jet.transforms.taglibdoc"/>
<intAttribute key="org.eclipse.jet.logFilterLevel" value="3"/>
<stringAttribute key="org.eclipse.jet.source" value="org.eclipse.jet/plugin.xml"/>
</launchConfiguration>
